.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.game .restart_btn {
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  color: var(--text-color-none);
  background: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 10px;
  cursor: pointer;
}

.game .restart_btn:hover {
  color: var(--text-color-correct);
}

.game .restart_btn:focus {
  background-color: var(--text-color-correct);
  color: var(--color-btn-highlight);
  outline: none;
}

.game_container {
  width: 80%;
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  position: relative;
}

.capslock {
  position: absolute;
  background-color: var(--main-color);
  padding: 15px;
  border-radius: 10px;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  gap: 30px;
  color: var(--text-color-none);
  margin: 0 50px 30px 10px;
}

.header.playing {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.header .rightside .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 10px;
  margin: 0;
}

.header .item :hover {
  cursor: pointer;
  color: var(--text-color-correct);
}

.header .item .active {
  color: var(--main-color);
}

.header .item .disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.hidden {
  display: none;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-size: 24px;
  color: var(--main-color);
}

/* === RESULTS ====*/
.results {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}

.results .head h1 {
  color: var(--main-color);
  text-align: center;
  font-weight: 100;
  font-size: 40px;
}

.results .head p {
  font-size: 14px;
  color: var(--text-color-none);
}

.results .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.results .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--wpm-result-bg);
  opacity: 0.8;
  padding: 30px 100px;
  border-radius: 15px;
  position: relative;
}

.results .top .label {
  font-size: 30px;
}

.results .top .value {
  font-size: 80px;
}

.results .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.results .content .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.results .content .footer .label {
  font-size: 15px;
}

.results .content .footer .value {
  font-size: 30px;
}

.results .label {
  font-weight: 100;
  line-height: 1em;
  color: var(--main-color);
}

.results .value {
  font-weight: 100;
  line-height: 1em;
  color: var(--text-color-correct);
}
/*# sourceMappingURL=Game.css.map */